.marginBottom20 {
  margin-bottom: 20px;
}

.marginRight30 {
  margin-right: 30px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginLeft15 {
  margin-left: 15px;
}

.marginTop15 {
  margin-top: 15px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginLeft5 {
  margin-left: 5px;
}

.paddingLeft5 {
  margin-left: 5px;
}

.marginBottom25 {
  margin-bottom: 25px;
}

.marginBottom30 {
  margin-bottom: 30px;
}

.paddingTop40 {
  padding-top: 40px;
}

.paddingTop30 {
  padding-top: 30px;
}

/* App Styles */

.minWidth130 {
  min-width: 130px;
}

.minWidth200 {
  min-width: 200px;
}

